body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #commonDesign {
    width: 700px;
    padding: 30px;
    border: 7px solid rgb(207, 11, 242);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 7px;
  }


  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .form-element {
    margin-bottom: 0px;
  }


.button input  {
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  


h1, legend{
    color: blue;
}
  

.button input {
    background-color: rgba(231, 222, 222, 0.588);

  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.8 rem;
  }